@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

$font-manrope: "Manrope", sans-serif;

$font-body: $font-manrope;

$font-families: (
    "manrope": "Manrope",
);

@each $name,
$font-family in $font-families {
    .font-#{$name} {
        font-family: $font-family, sans-serif;
    }
}