@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    .header-navigation-bar {
        ul.navigation {
            display: flex;
            align-items: center;
            gap: 3rem;
            margin-bottom: 0;
            padding-inline-start: 0;

            li {
                list-style: none;

                a {
                    color: $white;
                    text-decoration: none;
                    text-transform: capitalize;
                    font-weight: 700;
                }
            }
        }
    }
}

section.banner {
    position: relative;
    padding: 40px 0 260px;

    .banner-lightening {
        position: absolute;
        top: -2.5rem;
        right: 0;
        mix-blend-mode: screen;
    }

    .banner-truck {
        position: absolute;
        right: 10rem;
        bottom: 0;
    }
}

section.cta {
    padding: 41px 0;

    .cta-slider {
        .slick-slide {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(237, 237, 237, 0.3) 100%);
            mix-blend-mode: overlay;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.14);
            padding: 50px 30px;
            margin: 24px 12px;
        }
    }
}

section.form {
    padding: 128px 0;

    .multi-step-form {
        padding: 107px 60px 60px;

        #prevBtn {
            cursor: pointer;
        }

        .slick-track {
            display: flex !important;
        }

        .slick-slide {
            height: inherit !important;
        }

        .faded {
            color: #FEFFB6;
            opacity: 0.5;
        }

        .tab {
            label {
                font-size: 1.125rem;
                font-weight: 600;
                margin-bottom: 12px;
            }

            label.form-check-label {
                font-weight: 300;
                margin-bottom: 0;
            }

            input[type=text],
            input[type=email],
            input[type=number] {
                background: none;
                border-radius: 0;
                border: none;
                border-bottom: 1px solid $white;
                padding: 0;
                font-size: 1.125rem;
                color: $white;

                &::placeholder {
                    color: $white;
                    opacity: 0.5;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            .form-check-inline {
                margin-right: 2.5rem;
            }


            .form-check-input {
                display: none;
            }

            .form-check-label {
                cursor: pointer;
                display: inline-block;
                font-size: 16px;
                line-height: 1.5;
                padding: 14px 14px 14px 32px;
                position: relative;

                &:hover,
                &:focus {
                    .radio-button-circle:before {
                        border-color: $white;
                    }
                }

                &:active .radio-button-circle:before {
                    transform: scale(1.1);
                }
            }

            .radio-button-circle {
                border-radius: 50%;
                cursor: pointer;
                display: block;
                height: 8px;
                left: 4px;
                position: absolute;
                top: 20px;
                transition: background-color .1s ease-out;
                vertical-align: middle;
                width: 8px;

                &:before {
                    border: 1px solid $white;
                    border-radius: 50%;
                    content: '';
                    display: inline-block;
                    height: 20px;
                    position: absolute;
                    top: -6px;
                    transition: border-color .1s ease-out,
                        transform .1s ease-out;
                    left: -6px;
                    width: 20px;
                }
            }

            .form-check-input:checked+.form-check-label .radio-button-circle {
                background-color: $primary;
            }
        }
    }

    .slick-dots {
        position: relative;
        bottom: auto;
        display: flex;
        gap: 1.125rem;

        li {
            height: 10px;
            width: 100%;
            margin: 0;

            button {
                height: 10px;
                padding: 0;

                &::before {
                    content: "";
                    background: #d9d9d9;
                    height: 10px;
                    width: 100%;
                }
            }

            &.slick-active {
                button::before {
                    background: $secondary;
                }
            }
        }
    }

    ul.form-list {
        padding-inline-start: 7rem;
        list-style-image: url('../images/icons/form-list-tick.png');

        li {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.29;
            padding: 23px 0;
            padding-left: 24px;
        }
    }
}

section.about-us {
    padding: 223px 0;
}

section.truck-finance {
    padding: 127px 0;

    .types-row {
        padding-top: 250px;
    }
}

.truck-card .caption {
    height: 91px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(237, 237, 237, 0.3) 100%);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.14);
    font-size: 1.5rem;
    text-align: center;
    padding: 14px 16px;
    font-weight: 600;
}

section.loans {
    padding: 223px 0;
}

section.why-us {
    padding: 127px 0;
    position: relative;

    .lightening {
        position: absolute;
        left: 0;
        top: -18rem;
        mix-blend-mode: screen;
    }

    .truck {
        position: absolute;
        left: 0;
    }
}

section.how-does-it-work {
    padding: 223px 0;

    ul.loans-slider-nav {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            min-height: 311px;
            padding: 30px;
            position: relative;
            flex: 1 0 0%;

            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: self-start;
                position: relative;
                z-index: 5;
                height: 100%;
            }

            a {
                display: none;
                opacity: 0;
                transition: 0.5s all;
                position: absolute;
                top: 140.5px;
                z-index: 1000;

                &.prevBtn {
                    left: -15px;
                }
    
                &.nextBtn {
                    right: -15px;
                }
            }

            &.active {
                a {
                    display: block;
                    opacity: 1;    
                }
            }

            &.slide {
                position: absolute;
                background: $secondary;
                top: 0;
                left: 0;
                z-index: 1;
                transition: 0.5s;
                opacity: 0;
            }

            &.active~.slide {
                opacity: 1;
            }
        }
    }
}

footer {
    font-size: 0.875rem;
    background-color: #221f1f;

    @include media-breakpoint-down(sm) {
        font-size: 0.61rem;
    }
}