@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    position: relative;

    .header-navigation-bar {
        position: relative;

        .slide-navigation {
            background: #532888;
            padding: 8px;
            position: absolute;
            width: 100%;
            height: 100vh;
            z-index: 10000;
            transform: translateY(-100%);
            transition: 0.2s all;

            .main-container {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                ul.nav-list {
                    padding-inline-start: 0;
                    margin-bottom: 0;
    
                    li {
                        list-style: none;
                        padding: 16px 0;
                        
                        a {
                            color: $white;
                            text-decoration: none;
                            font-size: 2.25rem;
                            font-weight: 700;
                            line-height: 1;
                        }
                    }
                }
            }

            &.show {
                transform: translateY(0);
            }
        }

        ul.navigation {
            display: flex;
            align-items: center;
            gap: 3rem;
            margin-bottom: 0;
            padding-inline-start: 0;

            li {
                list-style: none;

                a {
                    color: $white;
                    text-decoration: none;
                    text-transform: capitalize;
                    font-weight: 700;
                }
            }
        }
    }

    .ellipse-right {
        position: absolute;
        right: 0;
        top: -23rem;
        z-index: -1;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
}

section.banner {
    position: relative;
    padding-bottom: 40px;

    @include media-breakpoint-up(md) {
        padding: 40px 0 80px;
    }

    @include media-breakpoint-up(xl) {
        padding: 40px 0 380px;
    }

    @include media-breakpoint-up(xxl) {
        padding: 40px 0 260px;
    }

    .banner-lightening {
        position: absolute;
        top: -2.5rem;
        right: 0;
        mix-blend-mode: screen;
        z-index: -1;

        @include media-breakpoint-down(xl) {
            top: 20rem;
        }
    }

    .banner-truck {
        @include media-breakpoint-up(xl) {
            position: absolute;
            right: 10rem;
            bottom: 0;
        }

        @include media-breakpoint-down(xl) {
            padding-top: 100px;
        }

        @include media-breakpoint-down(sm) {
            padding-top: 85px;
        }
    }

    .hero_heading {
        @include media-breakpoint-only(xl) {
            font-size: 7rem !important;
        }
    }

    .sub_heading {
        @include media-breakpoint-down(sm) {
            font-size: 1.125rem !important;
        }
    }
}

section.cta {
    padding: 41px 0;
    position: relative;

    .cta-slider-sm {
        .slick-slide {
            .cta-card {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(237, 237, 237, 0.3) 100%);
                mix-blend-mode: overlay;
                box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.14);
                padding: 24px;
                margin: 16px 6px;
            }
        }

        .slick-dots {
            list-style-type: none;

            li {
                margin: 0 5px;
                width: 10px;
                height: 10px;
            }

            button {
                display: block;
                width: 10px;
                height: 10px;
                padding: 0;
                border: none;
                background-color: $white;
                text-indent: -9999px;
                border-radius: 50%;
                opacity: 0.2;

                &::before {
                    width: 10px;
                    height: 10px;
                }
            }

            li.slick-active button {
                background-color: $secondary;
                opacity: 1;
            }
        }
    }

    .cta-slider {
        .slick-slide {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(237, 237, 237, 0.3) 100%);
            mix-blend-mode: overlay;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.14);
            padding: 50px 30px;
            margin: 24px 12px;
        }
    }
}

section.form {
    padding: 128px 0;
    position: relative;

    @include media-breakpoint-down(sm) {
        padding: 80px 0;
    }

    .ellipse-left {
        position: absolute;
        left: 0;
        z-index: -1;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    .multi-step-form {
        padding: 107px 60px 60px;

        @include media-breakpoint-down(xxl) {
            padding: 60px 40px;
        }

        @include media-breakpoint-down(sm) {
            padding: 40px 16px;
        }

        #prevBtn {
            cursor: pointer;
        }

        .slick-track {
            display: flex !important;
        }

        .slick-slide {
            height: inherit !important;
        }

        .faded {
            color: #FEFFB6;
            opacity: 0.5;
        }

        .tab {
            @include media-breakpoint-down(sm) {
                .hero_heading {
                    font-size: 3rem !important;
                }

                .sub_heading {
                    font-size: 1.125rem !important;
                }
            }

            label {
                font-size: 1.125rem;
                font-weight: 600;
                margin-bottom: 12px;
            }

            label.form-check-label {
                font-weight: 300;
                margin-bottom: 0;
            }

            input[type=text],
            input[type=email],
            input[type=number] {
                background: none;
                border-radius: 0;
                border: none;
                border-bottom: 1px solid $white;
                padding: 0;
                font-size: 1.125rem;
                color: $white;

                &::placeholder {
                    color: $white;
                    opacity: 0.5;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            .form-check {
                @include media-breakpoint-down(sm) {
                    padding-left: 0;
                    margin-bottom: 0;
                }
            }

            .form-check-inline {
                @include media-breakpoint-up(md) {
                    margin-right: 2.5rem;
                }
            }


            .form-check-input {
                display: none;
            }

            .form-check-label {
                cursor: pointer;
                display: inline-block;
                font-size: 1rem;
                line-height: 1.5;
                padding: 14px 14px 14px 32px;
                position: relative;

                &:hover,
                &:focus {
                    .radio-button-circle:before {
                        border-color: $white;
                    }
                }

                &:active .radio-button-circle:before {
                    transform: scale(1.1);
                }

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem;
                }
            }

            .radio-button-circle {
                border-radius: 50%;
                cursor: pointer;
                display: block;
                height: 8px;
                left: 4px;
                position: absolute;
                top: 20px;
                transition: background-color .1s ease-out;
                vertical-align: middle;
                width: 8px;

                &:before {
                    border: 1px solid $white;
                    border-radius: 50%;
                    content: '';
                    display: inline-block;
                    height: 20px;
                    position: absolute;
                    top: -6px;
                    transition: border-color .1s ease-out,
                        transform .1s ease-out;
                    left: -6px;
                    width: 20px;
                }
            }

            .form-check-input:checked+.form-check-label .radio-button-circle {
                background-color: $primary;
            }
        }
    }

    .slick-dots {
        position: relative;
        bottom: auto;
        display: flex;
        gap: 1.125rem;

        li {
            height: 10px;
            width: 100%;
            margin: 0;

            button {
                height: 10px;
                padding: 0;

                &::before {
                    content: "";
                    background: $grey;
                    height: 10px;
                    width: 100%;
                }
            }

            &.slick-active {
                button::before {
                    background: $secondary;
                }
            }
        }
    }

    ul.form-list {
        list-style-image: url('../images/icons/form-list-tick.png');
        padding-inline-start: 7rem;

        @include media-breakpoint-down(xxl) {
            padding-inline-start: 4rem;
        }

        @include media-breakpoint-down(sm) {
            padding-inline-start: 3rem;
        }

        li {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.29;
            padding: 23px 0;
            padding-left: 24px;

            @include media-breakpoint-down(sm) {
                font-size: 1.125rem;
                padding: 14px 0;
                padding-left: 16px;
            }
        }
    }
}

section.about-us {
    padding: 223px 0;
    position: relative;

    @include media-breakpoint-down(lg) {
        padding: 80px 0;
    }
}

section.truck-finance {
    padding: 127px 0;
    position: relative;

    @include media-breakpoint-down(sm) {
        padding: 80px 0;
    }

    .types-row {
        @include media-breakpoint-up(xxl) {
            padding-top: 250px;
        }
    }
}

.truck-card .caption {
    height: 91px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(237, 237, 237, 0.3) 100%);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.14);
    font-size: 1.5rem;
    text-align: center;
    padding: 14px 16px;
    font-weight: 600;

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
        height: 56px;
    }
}

section.loans {
    padding: 223px 0;
    position: relative;

    @include media-breakpoint-down(lg) {
        padding: 80px 0;
    }

    .ellipse-right {
        position: absolute;
        right: 0;
        top: -23rem;
        z-index: -1;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
}

section.why-us {
    padding: 127px 0;
    position: relative;

    .lightening {
        position: absolute;
        left: 0;
        mix-blend-mode: screen;
        z-index: -1;
        top: -10rem;

        @include media-breakpoint-up(md) {
            top: -18rem;
        }

        @include media-breakpoint-only(lg) {
            top: -28rem;
        }
    }

    .truck {
        @include media-breakpoint-up(xl) {
            position: absolute;
            left: 0;
        }
    }

    @include media-breakpoint-down(sm) {
        .fs-24 {
            font-size: 1rem !important;
        }
    }
}

section.how-does-it-work {
    position: relative;

    @include media-breakpoint-up(md) {
        padding: 80px 0;
    }

    @include media-breakpoint-up(lg) {
        padding: 223px 0;
    }

    .ellipse-left {
        position: absolute;
        top: -30rem;
        left: 0;
        z-index: -1;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    ul.loans-slider-nav {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            min-height: 311px;
            position: relative;
            flex: 1 0 0%;
            opacity: 0.5;
            padding: 30px;

            @include media-breakpoint-down(lg) {
                padding: 30px 16px;
            }

            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: self-start;
                position: relative;
                z-index: 5;
                height: 100%;

                @include media-breakpoint-down(lg) {
                    .heading {
                        font-size: 1.125rem !important;
                    }

                    .fs-18 {
                        font-size: 0.875rem !important;
                    }
                }
            }

            a {
                display: none;
                opacity: 0;
                transition: 0.5s all;
                position: absolute;
                top: 140.5px;
                z-index: 1000;

                &.prevBtn {
                    left: -15px;

                    @include media-breakpoint-down(sm) {
                        left: -8px;
                    }
                }

                &.nextBtn {
                    right: -15px;

                    @include media-breakpoint-down(sm) {
                        right: -8px;
                    }
                }
            }

            &.active {
                opacity: 1;

                a {
                    display: block;
                    opacity: 1;
                }

                @include media-breakpoint-down(sm) {
                    background: $secondary;
                }
            }

            &.slide {
                position: absolute;
                background: $secondary;
                top: 0;
                left: 0;
                z-index: 1;
                transition: 0.5s;
                opacity: 0;

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }

            &.active~.slide {
                opacity: 1;
            }
        }
    }
}

section.timeframe {
    position: relative;
    padding: 127px 0;

    .hero_van {
        @include media-breakpoint-up(xl) {
            position: absolute;
        }
    }

    .lightening {
        position: absolute;
        mix-blend-mode: screen;
        top: -19rem;
        z-index: -1;

        @include media-breakpoint-only(lg) {
            top: -25rem;
        }

        @include media-breakpoint-down(sm) {
            top: -10rem;
        }
    }

    @include media-breakpoint-down(sm) {
        .fs-24 {
            font-size: 1rem !important;
        }
    }
}

section.things-to-know {
    position: relative;

    @include media-breakpoint-up(lg) {
        padding: 123px 0;
    }

    .ellipse-right {
        position: absolute;
        right: 0;
        top: -30rem;
        z-index: -1;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    .things-to-know-card {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(237, 237, 237, 0.3) 100%);
        padding: 30px;

        &.active {
            background: $secondary;
        }
    }

    @include media-breakpoint-down(sm) {
        .hero_heading {
            font-size: 4rem !important;
        }
    }
}

section.faq {
    padding: 227px 0;
    position: relative;

    @include media-breakpoint-down(sm) {
        padding: 123px 0;
    }

    .ellipse-left {
        position: absolute;
        left: 0;
        z-index: -1;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    @include media-breakpoint-up(md) {
        padding: 64px 0;
    }

    @include media-breakpoint-up(xl) {
        padding: 206px 0 112px;
    }

    button:focus {
        outline: none;
        box-shadow: none;
    }

    .accordion-card {
        margin: 20px 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(237, 237, 237, 0.3) 100%);
    }

    .accordion-container {
        width: 100%;
    }

    .accordion-head {
        cursor: pointer;
        font-weight: 600;
        text-transform: capitalize;
        padding: 1.375rem 1rem;
        transition: 0.2s all;

        @include media-breakpoint-up(xl) {
            font-size: 1.125rem;
            padding: 30px 18px;
        }

        .main-question {
            font-size: 1.5rem;
            font-weight: 600;

            @include media-breakpoint-down(sm) {
                font-size: 1.125rem;            }
        }

        .plusminus {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.1s all ease-in-out;
        }

        &.active {
            .plusminus {
                transform: rotate(90deg);
            }
        }
    }

    .accordion-body {
        display: none;
        // padding: 0 1rem 24px;
        padding: 0 1.8rem 1.375rem;
        line-height: 2;
        font-size: 0.875rem;

        @include media-breakpoint-up(md) {
            font-size: 1rem;
            padding: 0 30px 30px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.125rem;
        }
    }
}

section.testimonials {
    padding: 123px 0;
    position: relative;

    @include media-breakpoint-down(lg) {
        padding: 80px 0;
    }

    .testimonial-slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
        }

        .testimonial-slider-content {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(237, 237, 237, 0.3) 100%);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 39.5px 20px;

            .business-info {
                padding-left: 31px;

                .name {
                    font-size: 1.25rem;
                    font-weight: 600;
                }

                .location {
                    font-size: 1rem;
                    line-height: 1;
                }
            }

            .testimonial-description {
                font-size: 1rem;
                padding: 56px 0;
            }

            @include media-breakpoint-down(xl) {
                margin: 0 5px;
            }
        }

        .slick-dots {
            bottom: -50px;
            list-style-type: none;

            li {
                margin: 0 5px;
                width: 10px;
                height: 10px;

                button:before {
                    width: 10px;
                    height: 10px;
                }
            }

            button {
                display: block;
                width: 10px;
                height: 10px;
                padding: 0;
                border: none;
                background-color: $light;
                text-indent: -9999px;
                border-radius: 50%;
            }

            li.slick-active button {
                background-color: $secondary;
            }
        }
    }

    .accordion {
        width: 100%;
        display: flex;
        list-style-type: none;
        overflow: hidden;
        font-size: 0;
        padding-left: 0;
        flex-wrap: wrap;

        .tabs {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(237, 237, 237, 0.3) 100%);
            cursor: pointer;
            height: 450px;
            overflow: hidden;
            position: relative;
            margin: 0 10px;
            font-size: 16px;
            -moz-transition: all 0.4s ease-in-out 0.1s;
            -o-transition: all 0.4s ease-in-out 0.1s;
            -webkit-transition: all 0.4s ease-in-out;
            -webkit-transition-delay: 0.1s;
            transition: all 0.4s ease-in-out 0.1s;
            padding: 38.52px 18px 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex: 1 0 230px;

            @include media-breakpoint-down(xxl) {
                flex: 1 0 200px;
            }

            .business-branding {
                display: flex;
                align-items: center;
                flex-direction: column;

                .business-info {
                    padding-top: 33.5px;
                    padding-left: 0;

                    .name {
                        font-size: 1.25rem;
                        font-weight: 600;
                    }

                    .location {
                        font-size: 1rem;
                        line-height: 1;
                        text-align: center;
                    }
                }

                .togglePadding {
                    padding-top: 0 !important;
                    padding-left: 27px;
                }
            }

            .testimonial-description {
                font-size: 1rem;
                padding: 40px 0;

                .extra-description {
                    display: none;
                }
            }
        }

        .tabs.active {
            flex-grow: 10000;
            padding: 38.52px 35px 24px;
            align-items: start;
            flex: 0 0 528px;

            @include media-breakpoint-down(xxl) {
                flex: 0 0 450px;
            }

            .business-branding {
                display: flex;
                align-items: center;
                flex-direction: row;

                .business-info {
                    padding-top: 0;
                    padding-left: 27px;

                    .location {
                        text-align: left;
                    }
                }
            }

            .testimonial-description .extra-description {
                display: block;
            }
        }
    }
}

section.footer-contact {
    padding: 227px 0;
    position: relative;

    @include media-breakpoint-down(sm) {
        padding: 123px 0;
    }
}

footer {
    font-size: 0.875rem;
    padding: 123px 0 50px;
    position: relative;
}